<%- include('partials/header') %>


<div class="jumbotron centered">
  <h1 class="display-3" style="text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Driver Events </h1>
  <div class="container" style="display: flex; justify-content: center;">

    <table style="width:60%">
      <tr>
        <th>Sr. No</th>
        <th>Event Driver ID</th>
        <th>Event Name</th>
        <th>Driver Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      
        <% var i=1; %>
        <% eventDriverObj.forEach(function(obj){    %>
          <tr></tr>
          <td><%=i%></td>
          <td><%=obj.EventDriverId%></td>
          <td><%=obj.EventCollection.EventName%></td>
          <td><%=obj.DriverCollection.DriverName%></td>
          <td>
            <a style="color: aliceblue;" href="/editevent?id=<%=obj.EventDriverId%>"><button class="btn btn-success" >edit </button> 
            </a>
          </td>
          <td>
            <a style="color: black;" href="/deleteevent?id=<%=obj.EventDriverId%>" >
              <button class="btn btn-warning" id="deleteEvent1" onclick="deleteEvent('<%=obj.EventCollection.EventName%>')">Delete</button>
            </a>
          </td>
          <%i++ %>
        <%  }); %>
       
      <tr><td><br><br></td></tr>
      
      <tr >
        <td colspan="6" style="text-align: center;margin-top: 20px;">
          <a style="color: aliceblue" href="/addeventdriver">
          <button class="btn btn-success">
          Add Driver Event</button>
        </a>
        
        </td>
          
      </tr>
      
    </table>
  </div>
</div>

<script>
  function deleteEvent(eName){
    alert(`do you want to delete this { ${eName} } item ?`);
  }
</script>

<%- include('partials/footer') %>
