<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">Driver Events </h1>
    <hr>
    <table style="width:60%">
      <tr>
        <th>Sr. No</th>
        <th>Event Driver ID</th>
        <th>Event Name</th>
        <th>Driver Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      
        <% var i=1; %>
        <% eventDeiverObj.forEach(function(obj){    %>
          <tr></tr>
          <td><%=i%></td>
          <td><%=obj.EventDriverId%></td>
          <td><%=obj.EventCollection.EventName%></td>
          <td><%=obj.DriverCollection.DriverName%></td>
          <td>
            <a style="color: aliceblue;" href="/editevent?id=<%=obj.EventDriverId%>"><button class="btn btn-success" >edit </button> 
            </a>
          </td>
          <td>
            <a style="color: black;" href="/deleteevent?id=<%=obj.EventDriverId%>" >
              <button class="btn btn-warning" id="deleteEvent1" onclick="alert('do you want to delete?')">Delete</button>
            </a>
          </td>
          <%i++ %>
        <%  }); %>
       
      <tr><td><br><br></td></tr>
      
      <tr >
        <td colspan="6" style="text-align: center;margin-top: 20px;">
          <a style="color: aliceblue" href="/addeventdriver">
          <button class="btn btn-success">
          Add Driver Event</button>
        </a>
        
        </td>
          
      </tr>
      
    </table>
  </div>
</div>

<script>
document.getElementById('deleteEvent1').addEventListener('click',  function(){
    console.log("delete alert..")
      alert("do you want to delete this item ?");
      // return;
  });
  function deleteEvent(){
    alert("do you want to delete this item ?");
  }
</script>

<%- include('partials/footer') %>
