<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">Driver Events </h1>
    <hr>
    <table style="width:60%">
      <tr>
        <th>sr. No</th>
        <th>Event Driver ID</th>
        <th>Event Name</th>
        <th>Driver Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      
        <% var i=1; %>
        <% eventDeiverObj.forEach(function(obj){    %>
          <tr></tr>
          <td><%=i%></td>
          <td><%=obj.EventDriverId%></td>
          <td><%=obj.EventCollection.EventName%></td>
          <td><%=obj.DriverCollection.DriverName%></td>
          <td><button class="btn btn-success" ><a style="color: aliceblue;" href="/editevent?id=<%=obj.EventDriverId%>">edit </a></button></td>
          <td><button class="btn btn-warning"><a style="color: black;" href="/deleteevent?id=<%=obj.EventDriverId%>">Delete</a></button></td>
          <%i++ %>
        <%  }); %>
       
      <tr><td><br><br></td></tr>
      
      <tr >
        <td colspan="6" style="text-align: center;margin-top: 20px;">
          <button class="btn btn-success">
          <a style="color: aliceblue" href="/addeventdriver">Add Driver Event</a>
        </button>
        </td>
          
      </tr>
      
    </table>
  </div>
</div>

<%- include('partials/footer') %>
